body{
    background-color: rgb(136, 125, 125);
}
#page-name:hover{
    color: rgb(1, 100, 300);
};



.article-tittle{
    color: red;
}
#id-main{
color: yellow;
}
.element-menu{
color: green;
}

span::first-letter{
    display: block;
    font-size: 10;
}